<div class="modal fade" id="exportContribuyentesModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Exportar Contribuyentes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                 <div class="alert alert-success">
                        Se procedera a exportar los contribuyentes en formato Excell.
                 </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="bi bi-x-circle me-1"></i>
                    Cerrar
                </button>
                <button type="button" class="btn btn-success export-contribuyentes-btn">
                    <i class="bi bi-check-circle me-1"></i>
                    Exportar
                </button>
            </div>
        </div>
    </div>
</div>