{% extends 'layout.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('honorarios') }}
     
{% endblock %}

{% block title %}Honorarios{% endblock %}

{% block content %}
    <div class="honorarios container content-body">
        <div class="text-end mb-4">
            <button  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newHonorarioModal">
                <i class="bi bi-plus-circle me-1"></i>
                Nuevo Honorario
            </button>
               
        </div>

      

        {% include 'honorarios/honorario_modal.twig' with {modal: {title: 'Crear Honorario', id: 'newHonorarioModal', isEdit: false}} %}
        {% include 'honorarios/honorario_modal.twig' with {modal: {title: 'Editar Honorario', id: 'editHonorarioModal', isEdit: true}} %}
        <div>
            <table id="honorariosTable">
                <thead>
                    <tr>
                        <th>Contribuyente</th> 
                        <th>Fecha</th>
                        <th>Honorario</th>
                        <th>Impuesto</th>
                        <th>Transferencia</th>
                        <th>Total</th>
                        <th>Concepto</th>
                        <th>Observaciones</th> 
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}

